*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav{
    background: linear-gradient(to bottom, #f1b66e,#e1cfad);   
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    margin-right: 5vh;
    font-size: 2vh;
    padding: 2vh;
    margin-top: 2vh;
}

.nav-btn:hover{
    background-color: #b67a32;
    color: white;
    padding: 2vh;
    border-radius: 2vh;
}
.logo{
    height: 14vh;
    width: 14vh;
    margin-right: 100vh;
    margin-bottom: 2vh;
}

h1{
    text-align: center;
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    color: #545454;
}

h1 span{
    border-bottom: #e1cfad solid 1vh;
}

.paragraph{
    text-align: justify;
    font-size: 2.8vh;
    height: 30vh;
    width: 60vh;
    margin-left: 15vh;
    margin-top: 9vh;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 4vh;
}

.log{
    height: 80vh;
    width: 80vh;
    position: absolute;
    margin-left: 110vh;
    top: 20vh;
}

h2{
    text-align: justify;
    border-bottom: #e1cfad solid 1vh;
    width: 35vh;
    font-size: 5vh;
    margin-left: 15vh;
    margin-top: 25vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    font-size: 2.6vh;
    width: 50vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    padding: 2vh;
    height: 15vh;
    font-family: Arial, sans-serif;
}