.nav{
    background: linear-gradient(to bottom, #f1b66e,#e1cfad);   
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

a{
    color: black;
    margin-right: 5vh;
    font-size: 2vh;
    padding: 2vh;
    margin-top: 2vh;
    text-decoration: none;
}

.nav-btn:hover{
    background-color: #b67a32;
    color: white;
    padding: 2vh;
    border-radius: 2vh;
}
.logo{
    height: 14vh;
    width: 14vh;
    margin-right: 100vh;
    margin-bottom: 2vh;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 50px;
  flex-wrap: wrap;
}

.map-container img {
  width: 550px;
  border-radius: 0px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  object-fit: cover;
}

.contact-container {
  max-width: 550px;
}

.contact-container h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.info-item img {
  width: 25px;
  height: 25px;
  filter: grayscale(100%) brightness(0.3);
}

.info-item p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  resize: none;
}

.contact-form button {
  width: 120px;
  padding: 10px;
  background-color: #d8b892;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #c4a77b;
}
